.section {
  padding: 1rem 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;

    &:first-child {
      margin-top: 5px;
    }
  }

  &.slim {
    padding: 1.2rem 0;
  }

  &.padding-none {
    padding: 1rem 1rem;
  }

  &.padding-small {
    padding: 2rem 5vw;
  }
}
