.avatar-picture-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px var(--primary);
  background-color: white;
  overflow: hidden; /* Ensure the image is clipped to the container's border radius */
}

.avatar-picture {
  border-radius: 50%;
  object-fit: cover; /* Ensure the image covers the container */
}
