footer {
  position: relative;
  display: flex;
  flex-direction: column;
  .footer-title {
    color: #8a8a8a;
  }

  a:hover {
    text-decoration: underline;
    color: white;
  }

  border-top: 2px solid var(--mui-palette-secondary-light);
  padding-top: 20px;
}
