
@font-face {
    font-family: "Crimson Text", serif;
    src: url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap");
    font-display: swap;
}

body {
    --primary: #000000;
    --primary-dark: #000000;
    --primary-light: #3577bc;
    --secondary-light: #ba433f;
    --secondary: #ff4e53;
    --tertiary: #fcefb2;
    --tertiary-dark: #f9e075;

    background-color: var(--primary-dark) !important;
    color: white;
    font-family: var(--font-roboto), serif;
}

a {
    all: unset;
    cursor: pointer;
}

.secondary,
.primary-dark {
    a {
        // color: var(--tertiary);
        font-weight: 500;
    }
}
a.md-link {
    color: var(--tertiary);
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

.MuiButtonBase-root {
    text-align: center;
}
