

body {
  --primary: var(--mui-palette-primary-main);
  --secondary: var(--mui-palette-secondary-main);
  --primary-dark: var(--mui-palette-primary-dark);
  --tertiary: #fcefb2;
  --tertiary-dark: #f9e075;
  --md-breakpoint: 900px;
  //--primary: #408330;
  //--secondary: #FFB74D;
  //--primary-dark: rgb(44, 91, 33);

  font-family: var(--font-roboto);
  margin: 0;
}

a {
  all: unset;
  cursor: pointer;
}

.secondary,
.primary-dark {
  a {
     color: var(--secondary);
    font-weight: 500;
  }
}

a.md-link {
  color: var(--secondary);
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.MuiButtonBase-root {
  text-align: center;
}

.MuiAppBar-root, .MuiDrawer-root > .MuiPaper-root {
  border-bottom: 2px solid var(--mui-palette-secondary-light);
}

main>div:not(.jumbo) {
  h1, h2 {

    &:not(.no-leaf) {
      text-align: center;

      &:before, &:after {
        content: "";
        background-image: url("/images/feuilles-gauche.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;

        width: 60px;
        height: 20px;
      }

      &:after {
        background-image: url("/images/feuilles-droite.svg");
      }
    }
  }

}

//.MuiButton-contained.MuiButton-colorSecondary {
//  color: white;
//}
